html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 30px;
  padding: 0;
  border: 20px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; 
  background-color: black
}

ol, ul {
  list-style: none;
  align-content: center;
  text-align: center;
  font-weight: normal;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

  body {
    text-align: center;
    font-family: sans-serif;
    -webkit-align-content: center;
  align-content: center;
   
  }


  
  .rainbow-box {
    background-color: #00000000;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 5%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: inherit;
    margin: 20px;
    padding: 10px;
    width: inherit;
}

h1  {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8em;
  -webkit-align-content: center;
  align-content: center;
  line-height: 145px
  }


h2
{
  font-size: 30px;
  align-content: center;
  text-align: center;
  font-weight: bold ;
  vertical-align: middle;
  border-style: solid linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h3 {
  align-content: center;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  vertical-align: middle;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  align-content: center;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
  color: white;


}
a {
  
  color: #ffffff; }
  a:hover {
    color: #ffffff; }

#main {
  padding: 50px; }
  

  button
  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#520266;
    padding:10px 20px;
    border: 2px solid #f92ab1;
    cursor: pointer;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    background:-webkit-radial-gradient(circle, green 5%, cyan, blue, violet);
    background:-moz-radial-gradient(circle, green 5%, cyan, blue, violet);
    background: radial-gradient(circle, green 5%, cyan, blue, violet);
    
    -webkit-box-shadow: 5px 5px 3px rgba(0, 255, 13);
    -moz-box-shadow: 5px 5px 3px rgb(0, 255, 13);
    box-shadow:5px 5px 3px rgba(0, 255, 13);
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  button:hover
  {
    background: -webkit-radial-gradient(to bottom left, orange , yellow, green, cyan, blue 5%, violet 5%);
    background: -moz-radial-gradient(to bottom left, orange , yellow, green, cyan, blue 5%, violet 5%);
    background: radial-gradient(to bottom left, orange , yellow, green, cyan, blue 5%, violet 5%);
  }
  
  button:active
  {
    background: -webkit-radial-gradient(to bottom right, orange , yellow, green, cyan, blue, violet);
    background: -moz-radial-gradient(to bottom right, orange , yellow, green, cyan, blue, violet);
    background: radial-gradient(to bottom right, orange , yellow, green, cyan, blue, violet); 
  } 

  
        
        body {
          background-color: #1a1a1a;
          color: #fefefe;
          font-family: 'Ubuntu';
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-size: 1.3em;
          line-height: 2;
          font-weight: 300;
          text-rendering: optimizeLegibility;
          text-align: center;
        }
        