html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 30px;
  padding: 0;
  border: 20px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  align-content: center;
  text-align: center;
  font-weight: normal;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

  body {
    font-family: sans-serif;
    -webkit-align-content: center;
  align-content: center;
   
  }
  
  .rainbow-box {
    background-color: #ffffff;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: relative;
    margin: 20px auto;
    width: relative;
}

h1  {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8em;
  -webkit-align-content: center;
  align-content: center;
  line-height: 145px
}


h2
{
  
  align-content: center;
  text-align: center;
  font-weight: bold ;
  vertical-align: middle;
  border-style: solid linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}


h3 {
  align-content: center;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
}

p {
  align-content: center;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;


}
a {
  
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 50px; }
  





  
